################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/RetoTecnico-EVOL/.vs/RetoTecnico-EVOL/FileContentIndex
